<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<meta charset="utf-8"/>
	<title>{{ title }}
	</title>
	<link href="http://gmpg.org/xfn/11" rel="profile"/>
	<link href="{{url_for('static',filename='style.css')}}" media="all" rel="stylesheet" type="text/css"/>
	<link href="http://forum.iiit.ac.in/2017/xmlrpc.php" rel="pingback"/>
	<link href="../static/iiit.ico" rel="icon" type="image/x-icon"/>
	<link href="../static/iiit.ico" rel="shortcut icon" type="image/x-icon"/>
	<link href="http://forum.iiit.ac.in/2017/?feed=rss2" rel="alternate" title="IIIT-H Hostel Portal » Feed" type="application/rss+xml"/>
	<link href="http://forum.iiit.ac.in/2017/?feed=comments-rss2" rel="alternate" title="IIIT-H Hostel Portal » Comments Feed" type="application/rss+xml"/>
	<link href="{{url_for('static',filename='bbpress.css')}}" id="bbpress-style-css" media="screen" rel="stylesheet" type="text/css"/>
	<script type='text/javascript' src='http://forum.iiit.ac.in/2017/wp-includes/js/l10n.js?ver=20101110'></script>
	<script type='text/javascript' src='http://forum.iiit.ac.in/2017/wp-includes/js/comment-reply.js?ver=20090102'></script>
	<link href="http://forum.iiit.ac.in/2017/xmlrpc.php?rsd" rel="EditURI" title="RSD" type="application/rsd+xml"/>
	<link href="http://forum.iiit.ac.in/2017/wp-includes/wlwmanifest.xml" rel="wlwmanifest" type="application/wlwmanifest+xml"/>
	<link href="http://forum.iiit.ac.in/2017" rel="index" title="IIIT-H Hostel Portal"/>
	<meta content="WordPress 3.1.4" name="generator"/>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO">
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive">
	<meta name="author" content="FREEHTML5.CO">
	<meta Http-Equiv="Cache-Control" Content="no-cache">
	<meta Http-Equiv="Pragma" Content="no-cache">
	<meta Http-Equiv="Expires" Content="0"> 
	<meta property="og:title" content="">
	<meta property="og:image" content="">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="">
	<meta property="og:description" content="">
	<meta name="twitter:title" content="">
	<meta name="twitter:image" content="">
	<meta name="twitter:url" content="">
	<meta name="twitter:card" content="">
	<meta http-equiv="Cache-control" content="no-cache">
	<link href="{{url_for('static',filename='css.css')}}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="" <!--="" modernizr="" js="" --="">
	<!--script src="/static/modernizr-2.js">
</script-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js">
</script>
</head>
<body class={{ cls_type }}>
	<div class="hfeed" id="wrapper">
		<div id="header">
			<div id="masthead">
				<div id="branding" role="banner">
					<h1 id="site-title">
						<span>
							<a href="/" rel="home" title="FinancePeer"><!-- FinancePeer -->
							<!-- <a href="http://iiit.ac.in"> -->
								<img id="logoimg" alt="image not loaded" src="../static/financepeer-logo.png" style="border:0px;height:39.5px;width:231.3px"/>
							</a>
							<!-- </a> -->
						</span>
					</h1>
					<div id="site-description">Intern Hiring Task
					</div>
					<br>
					<br>
					{% block content1%}
					{% endblock %}
					<div id="access" role="navigation">
						<div class="skip-link screen-reader-text">
							<a href="#content" title="Skip to content">Skip to content
							</a>
						</div>
						<div class="menu">
							<ul>
								<li>
									<a href="/" title="Home">Home
									</a>
								</li>
								{% if logged_in %}
								<li class="page_item page-item-14" >
								{% else %}
								<li class="page_item page-item-14" style="visibility: hidden">
									{% endif %}
									<a href="/upload" title="Upload Json">Upload Json
									</a>
								</li>

								{% if logged_in %}
								<li class="page_item page-item-14" >
								{% else %}
								<li class="page_item page-item-14" style="visibility: hidden">
									{% endif %}
									<a href="/view_table" title="View Table">View Table
									</a>
								</li>
							</ul>
						</div>	
					</div><!-- #access -->
				</div><!-- #masthead -->
			</div><!-- #header -->
			{% block content2%}
			{% endblock %}
			<div class="widget-area" id="primary" role="complementary">
				<ul class="xoxo">
					<li class="widget-container bbp_widget_login" id="bbp_login_widget-3">
						{% if logged_in %}
						<h3 class="widget-title">Logged in as <br>{{ det['firstname'] }}
						</h3>
						<center>
							<h4 class="entry-title" >
								{% if det['profile_pic'] %}
								<img alt="image not loaded" height=51% width=51% src="../static/profile/{{ det['username'] }}.jpeg" />
								{% else %}
								{% if det['warden'] %}
								<img alt="image not loaded" height=51% width=51% src="../static/profile/unkward.jpeg" />
								{% else %}
								<img alt="image not loaded" height=51% width=51% src="../static/profile/unknown.jpeg" />
								{% endif %}
								{% endif %}
							</h4>
						</center>

						<form action="/logout" class="bbp-login-form" method="post">
							<fieldset>
								<legend>Log Out</legend>
								<div class="bbp-submit-wrapper">
									<button class="button submit user-submit" id="user-submit" name="user-submit" tabindex="104" type="submit">Log Out
									</button>
									<input name="user-cookie" type="hidden" value="1"/>
									<input name="redirect_to" type="hidden" value="/"/>
									<input id="_wpnonce" name="_wpnonce" type="hidden" value="b783ee86eb"/>
									<input name="_wp_http_referer" type="hidden" value="/"/>
								</div>
							</fieldset>
						</form>
						{% else %}
						<h3 class="widget-title">Login
						</h3>
						<form action="/login" class="bbp-login-form" method="post">
							<fieldset>
								<legend>Log In
								</legend>
								<div class="bbp-username">
									<label for="user_login">Username: 
									</label>
									<input id="user_login" name="log" size="20" tabindex="101" class="input" type="text" value=""/>
								</div>
								<div class="bbp-password">
									<label for="user_pass">Password: 
									</label>
									<input id="user_pass" name="pwd" size="20" tabindex="102" class="input" type="password" value=""/>
								</div>
								<!--div class="bbp-remember-me">
									<input id="rememberme" name="rememberme" tabindex="103" type="checkbox" value="forever"/>
									<label for="rememberme">Remember Me
									</label>
								</div-->
								<div class="bbp-submit-wrapper">
									<button class="button submit user-submit" id="user-submit" name="user-submit" tabindex="104" type="submit">Log In
									</button>
									<input name="user-cookie" type="hidden" value="1"/>
									<input name="redirect_to" type="hidden" value="/"/>
									<input id="_wpnonce" name="_wpnonce" type="hidden" value="b783ee86eb"/>
									<input name="_wp_http_referer" type="hidden" value="/"/>
								</div>
							</fieldset>
						</form>
						{% endif %}
					</li>
				</ul>
			</div>
		</div>
		<div id="footer" role="contentinfo">
			<div id="colophon">
				<div id="site-info">© AdityaJainPansari, 2021
				</div>
			</div>
		</div>
	</div>
</body>
</html>