<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
	<title>Financepeer &rsaquo; Log In</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="{{url_for('static',filename='login.css')}}" id='login-css' media="all" rel="stylesheet" type="text/css"/>
	<link href="{{url_for('static',filename='colors_fresh.css')}}" id='colors-fresh-css' media="all" rel="stylesheet" type="text/css"/>
<meta name='robots' content='noindex,nofollow' />
</head>
<body class="login">
<div id="login"><h1><a href="/" title="Financepeer">Financepeer</a></h1>
<p id="nav" style="color: red">
Incorrect Username or Password !
</p>

<form name="loginform" id="loginform" action="/login" method="post">
	<p>
		<label>Username<br />
		<input type="email" name="log" id="user_login" class="input" value="" size="20" tabindex="10" /></label>
	</p>
	<p>
		<label>Password<br />
		<input type="password" name="pwd" id="user_pass" class="input" value="" size="20" tabindex="20" /></label>
	</p>
	<!--p class="forgetmenot"><label><input name="rememberme" type="checkbox" id="rememberme" value="forever" tabindex="90" /> Remember Me</label></p-->
	<p class="submit">
		<input type="submit" name="wp-submit" id="wp-submit" class="button-primary" value="Log In" tabindex="100" />
		<input type="hidden" name="redirect_to" value="/" />
		<input type="hidden" name="testcookie" value="1" />
	</p>
</form>

</div>
<p id="backtoblog"><a href="/" title="Are you lost?">&larr; Back to Financepeer</a></p>

<script type="text/javascript">
function wp_attempt_focus(){
setTimeout( function(){ try{
d = document.getElementById('user_login');
d.focus();
d.select();
} catch(e){}
}, 200);
}

wp_attempt_focus();
if(typeof wpOnload=='function')wpOnload();
</script>
</body>
</html>
