{% extends 'base.html' %}
{% block content1 %}
<div class="row" id="fh5co-works">
	<div class="col-md-8 col-md-offset-2 text-center fh5co-section-heading work-box fadeInUp animated">
		<br/>
		<br/>
		<h2 class="fh5co-lead">Features :
		</h2>
		<p class="fh5co-sub">We welcome you !
		</p>
		<div class="fh5co-spacer fh5co-spacer-sm">
		</div>
	</div>
	<br>
</div>
{% endblock %}
{% block content2 %}
<div id="main">
	<div id="container">
		<div id="content" role="main">
			<div class="post-1 post type-post status-publish format-standard hentry category-uncategorized" id="post-1">
				<h2 class="entry-title">About WebApp</h2>
				<div class="entry-meta">
					<span class="meta-prep meta-prep-author">Posted on</span> <span class="entry-date">May 2, 2021</span> <span class="meta-sep">by</span> <span class="author vcard">Aditya Jain Pansari</span> </div><!-- .entry-meta -->
					<div class="entry-content">
						<p style="text-align: justify;"> </p>
						<p>If you're unable to view upload file and view table features, login using the below credentials to gain access.</p>
						
						
						<p>
							Username : <strong>financepeer</strong><br>
							Password : <strong>p@ssw0rd</strong>
						</p>

						<p>Hope this portal helps you.</p>
						<p>
							Regards,<br>
							<a href="https://www.linkedin.com/in/adityajainpansari">Aditya Jain Pansari</a>
						</p>
						<p>
							Coordinator, Students' Placement Cell, IIIT Hyderabad<br>
							Coordinator, Election Comission, IIIT Hyderabad<br>
							Former Member, Students' Parliament, IIIT Hyderabad
						</p>
						<p> </p>
					</div><!-- .entry-content -->
					
				</div><!-- #post-## -->
			</div><!-- #content -->
		</div><!-- #container -->
		{% endblock %}