{% extends 'base.html' %}
{% block content1 %}

{% endblock %}
{% block content2 %}
<div id="main">

	<div id="container">
		<div id="content" role="main">
			<div class="post-1 post type-post status-publish format-standard hentry category-uncategorized" id="post-1">
				<h2 class="entry-title">Upload JSON File</h2>
				<div class="entry-meta">
					<div class="entry-content">
						<form method="POST" action="/uploadfile" enctype="multipart/form-data">
							<div>
								<label for="inputFile">File Upload</label>
								<input type="file" name="inputFile">
							</div>
							<button type="submit">Submit</button>
						</form>
					</div><!-- .entry-content -->
				<!-- </div> -->
			</div><!-- #post-## -->
		<!-- </div>#comments -->
	</div><!-- #content -->
</div><!-- #container --> 
{% endblock %}