{% extends 'base.html' %}
{% block content1 %}

{% endblock %}
{% block content2 %}
<div id="main">

	<div id="container">
		<div id="content" role="main">
			<div id="post-2" class="post-2 page type-page status-publish hentry">
				<h1 class="entry-title">My Data</h1>
				<div class="entry-meta">
					<div class="entry-content">
						<table>
							<tr>
								<th>userId</th>
								<th>id</th>
								<th>title</th>
								<th>body</th>
							</tr>
							{% for record in records %}
							<tr>
								<td>{{record[0]}}</td>
								<td>{{record[1]}}</td>
								<td>{{record[2]}}</td>
								<td>{{record[3]}}</td>
							</tr>
							{% endfor %}
						</table>
					</div><!-- .entry-content -->
				</div>
			</div><!-- #post-## -->
		</div><!-- #comments -->
	</div><!-- #content -->
</div><!-- #container --> 
{% endblock %}